Homepage: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=universalmediaimporterDp
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=universalmediaimporterDp
Author: UnlimApps Inc. <support@unlimapps.com>
Maintainer: BigBoss <bigboss@thebigboss.org>
Name: UniversalMediaImporter
Package: com.unlimapps.universalmediaimporter
Depends: firmware (>= 5.0), mobilesubstrate, co.cocoanuts.gremlin
Section: Tweaks
Version: 1.0-2
Architecture: iphoneos-arm
Description: import media files (mp4,m4v,mp3,m4r) from your favorite app store apps
dev: i4iphones
